---
layout: default
---
<div class="bio">
    <img src="{{ '/assets/profile.jpg' | relative_url }}" alt="Melissa Sands" class="bio-photo">
    <div class="bio-text">
        {{ content }}
        <div class="bio-links">
            <a href="mailto:m.sands@lse.ac.uk" title="Email"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://scholar.google.com/citations?user=64MrT8oAAAAJ&hl=en" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>
            <a href="https://twitter.com/melissaleesands" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.dropbox.com/scl/fi/91n5r2okmbis7qig604lj/CV_Sands_Melissa.pdf?rlkey=kfkzcfqo8fpa2ebah94h61kfm&dl=0" title="Curriculum Vitae"><i class="fa-solid fa-file-pdf"></i> CV</a>
        </div>
    </div>
</div>
