---
layout: default
---
<div class="page-content">
    <h2>Working Papers</h2>
    {% for paper in site.data.working %}
    <div class="paper">
        <div class="citation">{{ paper.citation }}</div>
        {% if paper.links %}
        <div class="links">
            {% for link in paper.links %}<a href="{{ link.url }}">{{ link.text }}</a>{% unless forloop.last %} &middot; {% endunless %}{% endfor %}
        </div>
        {% endif %}
        {% if paper.notes %}
        {% for note in paper.notes %}
        <div class="note">{{ note.html }}</div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

    <h2 class="section-second">Other Ongoing Projects</h2>
    {% for paper in site.data.ongoing %}
    <div class="paper">
        <div class="citation">{{ paper.citation }}</div>
    </div>
    {% endfor %}
</div>
